// color
$color--primery: #3e5151;
$color--secandary: #decba4;
$color--gray-main: rgb(238, 239, 239);
$color--gray-text: rgb(99, 102, 111);
$color--gray-light: rgb(229, 229, 229);
// grid

// font
$font--main: font-main;
$font--header: font-header;
$font--text: font-text;
$font--nastaliq: font-nastaliq;
$font-nastaliq-2: font-nastaliq-2;

// shadow

// border radios
//
