/* uniti css */
.background-color-1 {
  background: linear-gradient(to left, $color--primery, $color--secandary);
}
.background-img-1 {
  background-image: linear-gradient(
      285deg,
      rgba(255, 255, 255, 0.9) 52%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/6.jpg);
}
.margin-right-4 {
  margin-right: 4rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.background-color-secandary {
  background-color: $color--secandary;
}
